@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100dvh;
  width: 100dvw;
  margin: 0px;
  padding: 0px;
  @apply text-text;
  @apply bg-background;
}

@font-face {
  font-family: Inter-Regular;
  src: url("../assets/fonts/Inter_18pt-Regular.ttf");
}

@font-face {
  font-family: Inter-Bold;
  src: url("../assets/fonts/Inter_18pt-Bold.ttf");
}

@font-face {
  font-family: Inter-Italic;
  src: url("../assets/fonts/Inter_18pt-Italic.ttf");
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 0;
}

button:active {
  transition: 250ms ease-out;
  opacity: 0.5;
}
